@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Roboto:wght@100;300;400;700&display=swap');
/*  
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NORMALIZATION */
a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

li {
    list-style: none;
}

strong {
    font-weight: 700;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #202121;

}

/* WRAPPER */
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #F4F7F6;
}

/* BOX UKRAINE */
.box-ukraine {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #000;
    font-size: 17px;
    color: #fff;
}

.box-ukraine svg {
    margin: 0 10px;
}

/* HEADER */
#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fff;
}

#header-top .box-left,
#header-top .box-right {
    width: 15%;
}

#header-top .box-left .item {
    padding-left: 15%;
}

.item span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.item span:hover {
    border-bottom-color: black;
    cursor: pointer;
}

#header-top .box-center {
    width: 70%;
}

.box-center .slogan {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

#header-top .box-right ul {
    padding-right: 15%;
    display: flex;
    justify-content: flex-end;
}

#header-top .box-right ul li {
    padding: 0 5px;
}

#header-top .box-right ul li a:hover {
    opacity: 0.5;
}

/* FOOTER */
.box-top .box-left ul li a:hover,
.box-top .box-left p a:hover,
.box-bottom a:hover,
.box-bottom .box-right a:hover {
    opacity: 0.3;
}

.badget-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: gray; */
}

.badget-circle.lightyellow {
    background-color: #fef7c1;
}

.badget-circle.aquamarine {
    background-color: #9ceade;
}

#footer {
    background-color: #fff;
}

#footer .box-top {
    padding: 70px 0;
}

#footer .inner {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

.inner .box-left {
    flex-basis: 60%;
    line-height: 25px;
}

#footer .headline {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.menu-footer {
    display: flex;
    margin-bottom: 25px;
}

.box-top .box-left ul li {
    margin-right: 20px;
    font-weight: 700;
}

.follow strong {
    font-weight: 700;
}

.follow a {
    margin-left: 5px;
}

.box-right .headline svg {
    margin: 0 6px;
}

.box-top .box-right strong a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #ddd;
    transition: 0.5s ease-in-out;

}

.box-top .box-right strong a:hover {
    text-decoration-color: black;
}

#footer .box-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 18px;
}

.box-bottom .box-left ul li {
    margin-right: 20px;
}

.box-bottom .box-left ul li div {
    width: 100px;
    display: flex;
}

.box-bottom .box-left ul li svg {
    margin-left: 5px;
    display: inline-block;
}

/* BOX-SITE-HEAD */
.box-site-head {
    position: relative;
}

.box-site-head .box-bg {
    position: relative;
    overflow: hidden;
}

.box-site-head .box-bg img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.box-site-head .box-bg a {
    position: relative;
    display: block;
    height: 100%;
}

.box-site-head .box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.inner.vertical-center {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    text-align: center;

}

.box-info .content,
.box-info .style2 {
    background-color: #fff;
}

.inner.vertical-center .box-info {
    width: 100%;
    color: white;
}

/* box-breadcrumb */
.inner.vertical-center .box-breadcrumb {
    order: -1;
    width: 100%;

    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.inner.vertical-center .box-breadcrumb .box-left {
    text-align: left;
    color: white;
    line-height: 35px;
}

.box-breadcrumb .box-left strong a {
    margin-right: 10px;
    font-weight: 700;
    color: white;
}

.box-breadcrumb .box-right .bt-circle {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.3s;
}

.bt-circle svg {
    fill: white;
    transition: 0.3s;
}

.box-breadcrumb .box-right .bt-circle:hover,
.box-bl strong.button:hover {
    border-color: #49c5b6;
    color: #49c5b6;
}

.box-breadcrumb .box-right .bt-circle:hover svg {
    fill: #49c5b6;
}

/* box-info */
.box-info {
    align-self: flex-start;
}

.box-info .row {
    margin-bottom: 15px;
}

.row .heading-large a {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
}

.row .by {
    font-size: 16px;
    text-transform: uppercase;
}

.row .by a {
    color: #49c5b6;
}

/* box-notesite */
.box-notesite {
    padding-top: 10px;
}

.box-notesite ul {
    display: inline-flex;
    gap: 15px;
}

ul .circle-note-progress {
    display: flex;
    flex-direction: column;
}

ul .circle-note-progress .circle {
    position: relative;
    stroke-width: 3px;
    fill: transparent;
}

ul .circle-note-progress .circle .percent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.percent .int {
    font-size: 30px;
    font-weight: 600;
}

.percent .dec {
    font-size: 15px;
    font-weight: 300;
}

.style-design {
    stroke: #df6c4f;
}

.style-usability {
    stroke: #ecd06f;
}

.style-creativity {
    stroke: #3c948b;
}

.style-content {
    stroke: #1a99aa;
}

/* box-bl */
.box-bl {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;

}

.box-bl .button,
.hover-item .button {
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    background-color: #49c5b6;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    border-radius: 34px;
}

.box-bl a.button:hover {
    background-color: #3a9d92;
}

.box-bl strong.button,
.hover-item .button {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid white;
}

/* box-br */
.box-br {
    display: flex;
    align-items: center;
}

.box-br div:nth-of-type(1) {
    display: flex;
    transition: 0.3s;
    cursor: pointer;
}

.box-br div:nth-of-type(1):hover {
    color: #49c5b6;
    border-color: #49c5b6;
}

.box-br div:nth-of-type(1) svg {
    fill: white;
    transition: 0.3s;
}

.box-br div:nth-of-type(1):hover svg {
    fill: #49c5b6;
}

.box-br .borders {
    padding-left: 10px;
    margin-left: 2px;
    border-top: 1.7px solid white;
    border-bottom: 1.7px solid white;
    color: white;
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
}

.box-br div:nth-of-type(1) .corner {
    margin-right: 10px;
    content: "";
    width: 20px;
    line-height: 34px;
    border-top: 1.7px solid white;
    border-right: 1.7px solid white;
    border-bottom: 1.7px solid white;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    transition: 0.3s;
}

.box-br div:nth-of-type(1):hover .corner {
    border-color: #49c5b6;
}

.box-users-likes ul {
    display: flex;
}

.box-users-likes ul li {
    margin-right: 5px;
}

.box-users-likes ul li div a img {
    border-radius: 50%;
}

/* BLOCK-SOTD */
.block {
    padding: 50px 0;
}

.pt-0 {
    padding: 0;
}

.p-0 {
    padding: 0;
}

.inner {
    position: relative;
    width: 1905px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 60px
}

.box-heading {
    display: flex;
    align-items: center;
    padding: 50px 0;
    font-size: 17px;
    line-height: 31px;
}

.box-heading h1,
.box-heading h2 {
    display: inline;
    margin: 0;
}

.list-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    position: relative;
    left: -35px;
}

.grid .list-items .col-3 {
    padding-left: 35px;
    padding-bottom: 35px;
    width: calc(100%/3);
    display: flex;
}

.list-flex .box-item,
.list-flex .box-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.rollover {
    position: relative;
    background-color: black;
}

.rollover:hover img {
    position: relative;
    opacity: 0.5;
    transform: scale(1.1);
}

.box-photo {
    overflow: hidden;
}

.box-photo img {
    width: 100%;
    transition: 0.3s;
}

.rollover .hover-item {
    display: flex;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.rollover .top.left {
    top: 20px;
    left: 20px;
}

.list-share-circles ul {
    display: flex;
    position: relative;
    width: 100%;
    height: 34px;
}

.list-share-circles li {
    display: flex;
    margin-right: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.bt-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.rollover .hover-item.top {
    top: 20px;
    right: 20px;
}

.rollover .hover-item.bottom {
    right: 20px;
    bottom: 20px;
}

.button.circle.x-small {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    width: 34px;
}

.hover-item svg {
    fill: #fff;
}

.rollover:hover .hover-item {
    visibility: visible;
    opacity: 1;
}

.box-item .box-info {
    width: 100%;
}

.list-items .box-item div.content {
    padding: 20px;
}

.list-items .box-info .row {
    margin-bottom: 15px;
}

.list-items .box-info .row.row-2col {
    display: flex;
    justify-content: space-between;
}

.list-items .box-info .footer.style2 {
    padding: 10px 20px;
}

.list-items .box-info .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.list-items .box-info .footer .box-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.list-items .box-byuser {
    display: flex;
    align-items: center;
}

.list-items .box-byuser img {
    border-radius: 50%;
}

.list-items .box-byuser .by {
    flex: 1;
    padding: 0 5px;
    text-transform: uppercase;
}

.list-items .box-byuser .by strong {
    font-weight: 700;
}

.list-items .box-info .footer .box-right {
    display: flex;
    align-items: center;
}

.list-items .box-info .footer .list-tags {
    display: flex;
}

.list-items .box-info .list-tags li {
    margin-right: 5px;
}

.list-tags.size-small .item {
    display: flex;
    align-items: center;
    height: 15px;
    padding: 1px 5px 0 5px;
    line-height: normal;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: grey;
    border-radius: 15px;
}

.tooltip .box-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 8px;
    transform: translateY(-10px);
    transition: all .3s ease-in-out;
}

.list-tags li.hm .item {
    background-color: #9fd2d6;
    color: #fff;
}

.list-tags li.dotd .item {
    background-color: #8154EF;
    color: #fff;
}

.list-tags li.sotd .item {
    background-color: #FF4E4E;
    color: #fff;
}

/* BLOCK P-0 NOMINESS*/
.rollover .hover-item.center {
    transform: translate(-50%, -50%);
    display: block;
    justify-content: center;
    top: 50%;
    left: 50%;
    text-align: center;
}

.rollover .hover-item.center a {
    padding: 30px;
    color: black;
    background-color: #fff;
}

.by strong a {
    color: #000;
}

/* BLOCK P-0 ACADEMY*/
.list-items .box-style8 div.content {
    padding-top: 30px;
}

.list-flex .box-info,
.list-flex .box-info .content {
    flex: 1;
}

.list-items .box-info .row {
    height: auto;
    margin-bottom: 12px;
    line-height: 20px;
}

.list-items .box-info .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    font-size: 12px;
}

.list-items .box-style8 .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.box-dropdown .option-active {
    position: relative;
    padding-right: 20px;
    color: #49c5b6;
    cursor: pointer;
}

.box-dropdown .option-active::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 62%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border: 3px solid #49c5b6;
    border-bottom: none;
    border-left: none;
    transform: rotate(135deg);
}

.list-items .box-info .footer .box-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.list-items .box-info .footer {
    background-color: #fff;
}

.button.border-gray.rounded {
    display: block;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 20px;
    color: #ddd;
    height: 34px;
    padding: 0 20px;
    line-height: 34px;
}

.button.border-gray.rounded:hover {
    border-color: #49c5b6;
    color: #49c5b6;
}

.above-item.bottom.left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.button.orange-coral {
    display: block;
    padding: 0 10px;
    background-color: #ff5959;
    color: #fff;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
}

.rollover:hover .button.orange-coral {
    visibility: hidden;
}

/* BLOCK DIRECTORY*/
.box-heading .box-left {
    flex-grow: 1;
}

.box-heading .gap {
    display: flex;
    gap: 10px;
}

strong a {
    color: #49c5b6;
}

strong a:hover {
    color: #202121;
    text-decoration: none;
}

.box-right strong a span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.box-users-likes {
    display: flex;
    position: relative;
}

.bt-like {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 27px;
    height: 27px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.bt-like .circle {
    stroke: #ddd;
}

.bt-like .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 1;
    transition: 0.3s;
}

.bt-like .ico-svg {
    fill: #ddd;
}

.bt-like .number {
    position: absolute;
    bottom: -8px;
    right: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}

/* BLOCK DIRECTORY*/
#block-directory {
    padding: 0;
}

/* BLOCK RESOURCES*/
.heart-pulsate svg {
    fill: #49c5b6;
}

.inline-block {
    display: inline-block;
}

.rollover .img-crop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rollover .img-crop .video-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button.load-more {
    padding: 20px;
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto 50px auto;
    color: #ccc;
    background-color: #fff;
    font-size: 17px;
}