@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Roboto:wght@100;300;400;700&display=swap');
/*  
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; 
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NORMALIZATION */
a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #202121;

}

/* WRAPPER */
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    /* delete after- just to see content */
    background-color: #7d978f;
}

/* BOX UKRAINE */
.box-ukraine {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #000;
    font-size: 17px;
    color: #fff;
}

.box-ukraine svg {
    margin: 0 10px;
}

/* HEADER */
#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fff;
}

#header-top .box-left,
#header-top .box-right {
    width: 15%;
}

#header-top .box-left .item {
    padding-left: 15%;
}

.item span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#header-top .box-center {
    width: 70%;
}

.box-center .slogan {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

#header-top .box-right ul {
    padding-right: 15%;
    display: flex;
    justify-content: flex-end;
}

#header-top .box-right ul li {
    padding: 0 5px;
}

/* FOOTER */
#footer {
    background-color: #fff;
}

#footer .box-top {
    padding: 70px 0;
}

#footer .inner {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

.inner .box-left {
    flex-basis: 60%;
}

#footer .headline {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.menu-footer {
    display: flex;
    margin-bottom: 25px;
}

.box-top .box-left ul li {
    margin-right: 20px;
    font-weight: 700;
}

.follow strong {
    font-weight: 700;
}

.follow a {
    margin-left: 5px;
}

.box-right .headline svg {
    margin: 0 6px;
}

#footer .box-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 18px;
}

.box-bottom .box-left ul li {
    margin-right: 20px;
}

.box-bottom .box-left ul li div {
    width: 100px;
    display: flex;
}

.box-bottom .box-left ul li svg {
    margin-left: 5px;
    display: inline-block;
}