* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px auto;
    padding: 20px;
    width: 1100px;
    max-width: 1300px;
    background-color: #E9E9EB;
}

.personal {
    display: flex;
    justify-content: space-between;
}

.personal_info {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    height: 300px;
    border: 4px solid #9C8657;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    color: #9C8657
}

.name {
    text-align: center;
    text-transform: uppercase;
}

.name h1 {
    margin-top: 30px;
    font-size: 70px;
    font-weight: 300;
}

.name h2 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 11px;
}

.profession {
    background-color: #E9E9EB;
    position: absolute;
    bottom: -30px;
    left: 23%;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}

.contact_informations {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #677A9C;
}

.contact_container {
    display: flex;
}

.contact_detail {
    width: 275px;
}

.contact_detail a {
    text-decoration: none;
    color: #677A9C;
}

.justify_right {
    text-align: right;
}

.icon {
    max-width: 10%;
    float: left;
    margin-right: 10px;
    filter: invert(50%) sepia(15%) saturate(881%) hue-rotate(180deg) brightness(91%) contrast(85%);
}

.photo {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #677A9C;
    background-image:
        url("./img/profile\ photo.png");
    background-position: center;
    background-size: 110%;
}

.about_me {
    margin-top: 20px;
    height: 120px;
    background-color: #677A9C;
    border-radius: 20px;
    color: #D5D4D9;
}

.about_me p {
    padding-left: 20px;
}

.heading {
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 25px;
    text-transform: uppercase;
}

.edu_and_work,
.strategies_and_resources {
    margin-top: 20px;
    background-color: #D5D4D9;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.edu_and_work {
    height: 500px;
}

.strategies_and_resources {
    height: 200px;
}

.education,
.work_experience {
    width: 510px;
    color: #677A9C;
}

.education,
.learning_strategies {
    padding-right: 20px;
    border-right: 1px solid #677A9C;
}

.work_experience .heading,
.resources .heading {
    padding: 0;
}

.work_experience {
    padding-right: 20px;
}

.university {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.university div,
.work {
    padding-top: 20px;
}

.university_field,
.work_name {
    font-size: 18px;
    font-weight: 600;
}

.work_header {
    display: flex;
    justify-content: space-between;
}

.work_duties {
    padding-top: 10px;
    padding-left: 20px;
}

.learning_strategies,
.resources {
    width: 510px;
    color: #677A9C;
}

.learning_strategies li {
    padding-left: 20px;
}

.learning_strategies li,
.resources li {
    padding-bottom: 2px;
}

.resources .heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.learning_strategies ul,
.resources ul {
    list-style-type: none;
}