* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px auto;
    /* padding: 20px; */
    width: 100vw;
    max-width: 1300px;
    background-color: #E9E9EB;
}

h4.heading {
    padding: 0.35rem 1.25rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.bio {
    width: 50vw;
    height: 300px;
    border: 4px solid #9C8657;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
}

h1 {
    margin-top: 85px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #9C8657;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
}

.contact {
    width: 100%;
    display: flex;
    align-items: flex-end;
    color: #677A9C;
    z-index: 2;
}

.contact_detail {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_detail p {
    display: none;
    text-align: center;
    /* width: 100%; */
    background-color: #cfcfd3;
}

.contact_detail:hover {
    width: 40%;
    background-color: #cfcfd3;
}

.contact_detail:hover p {
    display: block;
    line-height: 2rem;
}

img.icon {
    order: 1;
    width: 25%;
    filter: invert(50%) sepia(15%) saturate(881%) hue-rotate(180deg) brightness(91%) contrast(85%);
}

.photo {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #677A9C;
    background-image:
        url("./img/profile\ photo.png");
    background-position: center;
    background-size: 110%;
    /* box-shadow: -150px 50px #FFEAC3; */
}

.photo::after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    bottom: -15%;
    left: -21%;
    content: "";
    text-align: center;
    line-height: 100px;
    color: #677A9C;
    font-size: 2rem;
    background-color: white;
    border-radius: 15px;
    transform: rotate(90deg);
    transform-origin: 130% -30%;
    transition: 1.5s;
}

.photo:hover::after {
    width: 200px;
    height: 100px;
    content: "That´s me";
    transform: rotate(0deg);
}

.photo:hover {
    cursor: pointer;
    background-image:
        url("./img/profile_color.png");
}

/* ABOUT ME */
.about_me {
    margin-bottom: 1.3rem;
    width: 90vw;
    height: 120px;
    background-color: #677A9C;
    border-radius: 1.3rem;
    color: #D5D4D9;
    align-self: flex-end;
}

.about_me p {
    padding-left: 20px;
}

/* MAIN */
main,
.strategies_and_resources {
    margin-top: 20px;
    background-color: #D5D4D9;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

main {
    height: 500px;
}

.strategies_and_resources {
    height: 200px;
}

.education,
.work_experience {
    width: 510px;
    color: #677A9C;
}

.education,
.learning_strategies {
    padding-right: 20px;
    border-right: 1px solid #677A9C;
}

.work_experience .heading,
.resources .heading {
    padding: 0;
}

.work_experience {
    padding-right: 20px;
}

.university {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.work {
    padding-top: 20px;
}

.university_field,
.work_name {
    font-size: 18px;
    font-weight: 600;
}

.work_header {
    display: flex;
    justify-content: space-between;
}

.work_duties {
    padding-top: 10px;
    padding-left: 20px;
}

.learning_strategies,
.resources {
    width: 510px;
    color: #677A9C;
}

.learning_strategies li {
    padding-left: 20px;
}

.learning_strategies li,
.resources li {
    padding-bottom: 2px;
}

.resources .heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.learning_strategies ul,
.resources ul {
    list-style-type: none;
}