* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


body {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  // background-color: #111;



  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);



}